* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background-image: linear-gradient(to right, #22215b, #35337d);

  padding: 0;
}

.nav-link {
  color: rgb(255, 255, 255, 0.5);
  transition: all 0.5s;
}

.nav-link:hover {
  color: rgb(255, 255, 255, 1);
  transition: all 0.5s;
}

.nav-link .fas {
  font-size: 25px;
}

.fa-bars {
  font-size: 27px;
  border-color: transparent;
  color: rgb(255, 255, 255, 0.5);
  transition: all 0.5s;
}

.fa-bars:hover {
  color: rgb(255, 255, 255, 0.9);
}
.navbar-brand {
  margin-left: 10px;
}

.navbar-brand h2 {
  float: right;
  color: rgb(255, 255, 255, 1);
  font-family: "Josefin Sans", sans-serif;
  margin-top: 14px;
  margin-left: 5px;
  font-size: 31px;
}

.navbar-brand img {
  width: 100%;
  max-width: 70px;
  margin-top: 5px;
}
