#third-sec #bottom-wave {
  transform: rotateY(180deg);
  transform: rotateX(180deg);
  padding: 0;
}
#third-sec .cls-1 {
  fill: #fcfcfc;
  width: 100%;
}

#third-sec img {
  top: 15%;
  position: relative;
}

#third-sec {
  background-image: url("../../../../img/bg-sec-3.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

#third-sec .title {
  color: white;
  font-size: 30px;
  margin-top: 70px;
  border-color: transparent;
}

#third-sec input,
textarea {
  border-color: transparent;
  color: rgb(66, 66, 66);
  width: 70%;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  font-size: 15px;
}

#third-sec input,
textarea:focus {
  border-color: transparent;
  outline: transparent;
}

#third-sec textarea {
  height: 100px;
  min-height: 100px;
}

#third-sec .btn {
  width: 200px;
}

/* BREAKPOINTS  */
/* extra  */
@media (max-width: 576px) {
  #third-sec img {
    top: auto;
  }
}

/* Small  */
@media (min-width: 576px) {
  #third-sec img {
    top: auto;
  }
}

/* Medium  */
@media (min-width: 768px) {
  #third-sec img {
    top: 48.5%;
  }

  #third-sec input {
    font-size: 17px;
  }

  #third-sec textarea {
    font-size: 17px;
  }
}

/* Large  */
@media (min-width: 992px) {
  #third-sec img {
    top: 29.8%;
  }
}
/* Extra large  */
@media (min-width: 1200px) {
  #third-sec img {
    top: 15.7%;
  }
}
